In [2]:
import requests
import pandas as pd
import json

In [3]:
df = pd.read_csv('dialect_dataset.csv')
df.head(3)

                    id dialect
0  1175358310087892992      IQ
1  1175416117793349632      IQ
2  1175450108898565888      IQ

In [4]:
df['id'] = df['id'].astype(str)
df['txt']=''
df['id_from_tweet'] = ''

In [5]:
base_url = 'https://recruitment.aimtechnologies.co/ai-tasks'
max_len=1000

In [6]:
# max_len=1000
# for i in range(0,len(df),max_len):
#     ids = list(df.iloc[i:i+max_len].id.values)
#     response = requests.post(base_url,json=ids)
#     r = response.text
#     j = json.loads(r)
#     txt = list(j.values())
#     ids = list(j.keys())
#     df.iloc[i:i+max_len,2]= txt
#     df.iloc[i:i+max_len,3]= ids

In [7]:
def retrieve_data(max_len,url):
    error=[]
    for i in range(0,len(df),max_len):
        ids = list(df.iloc[i:i+max_len].id.values)
        # ids=['1','2']
        try:
            r = requests.post(base_url,json=ids)
            r.raise_for_status()
            text = r.text
            j = json.loads(text)
            txt = list(j.values())
            ids = list(j.keys())
            df.iloc[i:i+max_len,2]= txt
            df.iloc[i:i+max_len,3]= ids
        except requests.exceptions.RequestException as e:
            error.append("error for ids: {} ,{}".format(ids,e))
    return error if len(error) > 0 else  "data retrieved successfully"

In [8]:
retrieve_data(max_len,base_url)
### to do :  this takes around 10 mins so i need to check for more efficient way to fetch data using threads and concureny modules in python

'data retrieved successfully'

In [9]:
df.to_csv('full_data.csv',index=False)

In [10]:
data = pd.read_csv('full_data.csv')

In [11]:
data.head()

,id,dialect,txt,id_from_tweet
0,1175358310087892992,IQ,@Nw8ieJUwaCAAreT Ù„ÙƒÙ† Ø¨Ø§Ù„Ù†Ù‡Ø§ÙŠØ© .. ÙŠÙ†ØªÙØ¶ .. ÙŠØºÙŠØ± .,1175358310087892992
1,1175416117793349632,IQ,@7zNqXP0yrODdRjK ÙŠØ¹Ù†ÙŠ Ù‡Ø°Ø§ Ù…Ø­Ø³ÙˆØ¨ Ø¹Ù„Ù‰ Ø§Ù„Ø¨Ø´Ø± .. Ø­...,1175416117793349632
2,1175450108898565888,IQ,@KanaanRema Ù…Ø¨ÙŠÙ† Ù…Ù† ÙƒÙ„Ø§Ù…Ù‡ Ø®Ù„ÙŠØ¬ÙŠ,1175450108898565888
3,1175471073770573824,IQ,@HAIDER76128900 ÙŠØ³Ù„Ù…Ù„ÙŠ Ù…Ø±ÙˆØ±Ùƒ ÙˆØ±ÙˆØ­Ùƒ Ø§Ù„Ø­Ù„ÙˆÙ‡ğŸ’,1175471073770573824
4,1175496913145217024,IQ,@hmo2406 ÙˆÙŠÙ† Ù‡Ù„ Ø§Ù„ØºÙŠØ¨Ù‡ Ø§Ø® Ù…Ø­Ù…Ø¯ ğŸŒ¸ğŸŒº,1175496913145217024

In [12]:
len(data)

458197

In [14]:
## check we retrieved the correct tweet for each id
sum(data['id']==data['id_from_tweet'])

458197

In [15]:
## now remove the extra columns 
data = data.drop(['id_from_tweet','id'],axis=1)
data.to_csv('full_data.csv',index=False)

In [16]:
data = pd.read_csv('full_data.csv')
data.sample(3)

       dialect                                                txt
198462      SA  @Sqr_TM @lIlIIlIIIIlI @Turki_alalshikh ÙŠÙ…ÙƒÙ† Ù…Ø¹...
17036       LY  ØªÙ„Ø¹Ø¨ Ù…Ø¹ Ø§Ù„Ø¬ÙŠØ´ ÙŠØµÙ„ÙˆØ§ Ø¹Ù„ÙŠÙƒ ØµÙ„Ø§Ø© Ø§Ù„ØºØ§ÙŠØ¨ ÙˆØ§Ù„Ø§ Ù…Ø´ Ù...
157725      JO  @dalqamouny Ù…Ø§ Ø¨ØªÙƒÙˆÙ† Ø£Ø²Ù…Ø© ÙƒØ«ÙŠØ± Ù„Ø§Ù†Ù‡ Ù…Ø¹Ø¸Ù… Ø§Ù„Ø±Ø­Ù„...